name: Deploy on Master Push

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Harbor
        run: |
          echo "${{ secrets.HARBOR_TOKEN }}" | docker login harbor.psikora.eu \
            -u "${{ secrets.HARBOR_USER }}" --password-stdin
      - name: Build image
        run: |
          docker build \
            -f docker/Dockerfile \
            -t harbor.psikora.eu/useless-idea/ui-backend:${{ github.sha }} \
            -t harbor.psikora.eu/useless-idea/ui-backend:latest \
            .
      - name: Push image
        run: |
          docker push harbor.psikora.eu/useless-idea/ui-backend:${{ github.sha }}
          docker push harbor.psikora.eu/useless-idea/ui-backend:latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo Hello
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          cat ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo Hello
          ls ~/.ssh
          ssh-keyscan -p $SSH_PORT -H $SSH_HOST > ~/.ssh/known_hosts
          echo Hello
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_PORT: ${{ secrets.SSH_PORT }}

      - name: Deploy to Server
        run: |
          ssh $SSH_USER@$SSH_HOST -p $SSH_PORT<< 'EOF'
            cd ~/useless-idea/ui-backend
            git reset --hard
            git pull origin master
            echo "ALLOWED_ORIGINS=${{ vars.ALLOWED_ORIGINS }}" > .env
            echo "POSTGRES_URL=${{ vars.POSTGRES_URL }}" >> .env
            echo "POSTGRES_PORT=${{ vars.POSTGRES_PORT }}" >> .env
            echo "POSTGRES_DB=${{ vars.POSTGRES_DB }}" >> .env
            echo "POSTGRES_USERNAME=${{ secrets.POSTGRES_USERNAME }}" >> .env
            echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
            echo "RABBIT_MQ_HOST=${{ vars.RABBIT_MQ_HOST }}" >> .env
            echo "RABBIT_MQ_PORT=${{ vars.RABBIT_MQ_PORT }}" >> .env
            echo "RABBIT_MQ_USERNAME=${{ vars.RABBIT_MQ_USERNAME }}" >> .env
            echo "RABBIT_MQ_PASSWORD=${{ vars.RABBIT_MQ_PASSWORD }}" >> .env
            echo "RABBIT_MQ_AUTO_STARTUP=${{ vars.RABBIT_MQ_AUTO_STARTUP }}" >> .env
            echo "EVE_SSO_CLIENT_ID=${{ vars.EVE_SSO_CLIENT_ID }}" >> .env
            echo "EVE_SSO_SECRET=${{ secrets.EVE_SSO_SECRET }}" >> .env
            echo "EVE_SSO_CALLBACK=${{ vars.EVE_SSO_CALLBACK }}" >> .env
            echo "REDIS_HOST=${{ vars.REDIS_HOST }}" >> .env
            echo "REDIS_PORT=${{ vars.REDIS_PORT }}" >> .env
            echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}" >> .env
          
            docker compose down
            docker compose up --build -d
            exit
          EOF
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_PORT: ${{ secrets.SSH_PORT }}